/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #1e698e;
  font-family: "Kanit", sans-serif;
  font-weight: 00;
  font-style: normal;
}

.bg-triangle {
  background-image: url("assets/Images/triangle.svg");
}

.triangle-bottomright {
  border-bottom: 50px solid red;
  border-left: 50px solid transparent;
}

html{
  scroll-behavior: smooth;
}